/*       -------АНКЕТА В МОДАЛКЕ!!!!------------ */

.form {
	width: 448px;
	/* outline: 1px solid tomato; */
	@include no-flex-center;
}

.form .title {
	display: block;
	margin-bottom: 12px;
	@include form-title-font;
}

.form .item {
	margin-bottom: 10px;
}

// LABELS Data and Comment
.form-label {
	width: 448px;

	/* outline: 1px solid blue; */
}

.text-label {
	display: block;
	margin-bottom: 4px;
	@include form-label-font;
}

.form-label .thumb {
	position: relative;
}

.form-label .form-input {
	height: 40px;
	padding: 12px 40px;

	width: 100%;

	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	@include form-input-font;

	&:hover {
		border: 1px solid rgba(33, 33, 33, 0.7);
	}
	&:focus {
		outline: transparent;
		border: 1px solid $accent-color;
	}
	&:not(:placeholder-shown) {
		border: 1px solid $accent-color;
	}
}

.form-label .icon-form {
	position: absolute;
	top: 50%;
	left: 12px;

	transform: translateY(-50%);
}

.form-label:focus-within .icon-form {
	fill: $accent-color;
}

.comment-input {
	display: block;
	margin-bottom: 20px;

	padding: 12px 16px;
	width: 448px;

	@include form-input-font;

	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;

	&:hover {
		border: 1px solid rgba(33, 33, 33, 0.7);
	}
	&:focus {
		outline: transparent;
		border: 1px solid $accent-color;
	}

	&::placeholder {
		color: rgba(117, 117, 117, 0.5);
	}

	&:not(:placeholder-shown) {
		border: 1px solid $accent-color;
	}
}
