// FOOTER ADDRESS

.container-footer.address {
	width: 231px;
	margin-left: 0px;
	margin-right: 70px;
}

.address .location {
	color: $white-color;

	font-style: normal;
	font-size: 14px;
	line-height: 1.71;
}

.address .location,
.address .link-footer:nth-child(1) {
	margin-top: 0px;
	margin-bottom: 9px;
}

.address .title {
	color: rgba(255, 255, 255, 0.6);

	font-style: normal;
	font-size: 14px;
	line-height: 1.71;
	text-decoration: none;

	transition: color $transition-time $transition-function;

	&:hover,
	&:focus {
		color: $accent-color;
	}
}
