/* FOOTER SUBSCRIBE!!! */

.container-subscribe {
	width: 570px;
	height: 80px;

	padding-left: 0px;
	padding-right: 0px;
}

.form-subscribe {
	display: flex;
	align-items: center;

	.text {
		margin-right: 10px;
	}
}

.form-subscribe .email {
	width: 358px;
	height: 50px;
	padding: 15px 16px;

	margin-right: 12px;

	border: 1px solid rgba(255, 255, 255, 0.3);
	box-shadow: $footer-box-shadow;
	border-radius: 4px;

	color: $white-color;
	background-color: $footer-color;

	&:hover,
	&:focus {
		border: 1px solid $white-color;
	}
}

.form-subscribe .button {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 200px;
	height: 50px;
	padding: 10px 28px;
	color: $white-color;
	background-color: $accent-color;

	box-shadow: $footer-box-shadow;
	border: 1px solid transparent;
	border-radius: 4px;

	font-family: Roboto;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;

	letter-spacing: 0.06em;

	transition: background-color $transition-time $transition-function;

	&:hover,
	&:focus {
		background-color: $btn-hover-color;
	}
}
