/* CONTACTS !!!!!!!!!*/

.contacts-nav {
	@include flex-center();
}

.contacts-nav .item:not(:last-child) {
	margin-right: 30px;
}

.contacts-nav .link {
	@include flex-center();

	color: $primary-text-color;

	@include header-font();

	transition: color $transition-time $transition-function;

	&:hover,
	&:focus {
		color: $accent-color;
	}
}

.contacts-nav .link .icon {
	margin-right: 10px;
}
