/* FEATURES НАШИ ПРЕИМУЩЕСТВА */

.container.icons {
	@include container();
	height: 251px;
	outline: 2px solid tomato;
}

.feature-list {
	@include flex-center();
}

.feature-list .item {
	width: 270px;

	&::before {
		display: block;
		content: "";
		height: 120px;
		margin-bottom: 30px;
		background-color: $button-bcg;
		background-size: 70px;
		background-repeat: no-repeat;
		background-position: center;
		border-radius: 4px;
	}
}

$items: "1" "feature1", "2" "feature2", "3" "feature3", "4" "feature4";

@each $childNumber, $iconName in $items {
	.feature-list .item:nth-child(#{$childNumber})::before {
		background-image: url(../images/#{$iconName}.svg);
	}
}

.feature-list .item:not(:last-child) {
	margin-right: 30px;
}

.feature-list .title {
	@include subtitle-font();
}

.feature-list .text {
	@include footer-feature-font();
}
