/*       -------АНКЕТА В МОДАЛКЕ!!!!------------ */

.modal .title {
	margin: 0px 0px 12px 0px;
	font-weight: 700;
	font-size: 20px;
	line-height: 1.15;
	text-align: center;
	color: var(--title-text-color);
}
