$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$white-color: #ffffff;
$button-bcg: #f5f4fa;
$footer-color: #2f303a;
$header-stroke: #ececec;
$folio-border: #eeeeee;
$icon-color: #afb1b8;
$transition-time: 250ms;
$transition-function: cubic-bezier(0.4, 0, 0.2, 1);
$btn-hover-color: #188ce8;
$wedo-back-color: rgba(47, 48, 58, 0.8);
